* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    background-color: aquamarine;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(img/WhatsApp\ Image\ 2023-05-28\ at\ 21.20.00.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8% 0 8%;
}
.logo{
    color: antiquewhite;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: blueviolet;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 25px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    color: aqua;
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    font-size: 75px;
    margin: 10px  0px 10px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px ;
}
h4{
    color: blueviolet;
    letter-spacing: 2px;
    font-size: 20px;
    
}
.news form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.news form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid blueviolet;
    outline: none;
    border-radius: 30px;
}
.news form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: aqua;
    box-shadow: 0px 0px 5px black,0px 0px 15px burlywood ;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: blanchedalmond;
}
.about img{
    height: auto;
    width: 200px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: black;
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 30px;
    margin-bottom: 45px;
}
button{
    background-color: aqua;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}
.service {
    width: 100%;
    height: auto;
    padding: 80px 13%;
    background-color: moccasin;
}
.title{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
    text-align: 20px;
}
.title h2{
    color: black;
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: 25px;
    
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}
.skill-main .skill-bar .info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .info .percent{
    font-weight: bold;
}
.skill-bar .bar{
    width: 100%;
    height: 10px;
    position: relative;
    background-color: coral;
    border-radius: 25px;
    margin-top: 5px;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: gray;
    border-radius: 25px;
}
.skill-bar .bar .html{
    width: 90%;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0;
    }100%{
        width: 90%;
    }
}
.skill-bar .bar .css{
    width: 70%;
    animation: css 3s;
}
@keyframes css{
    0%{
        width: 0;
    }100%{
        width: 70%;
    }
}
.skill-bar .bar .js{
    width: 60%;
    animation: js 3s;
}
@keyframes js{
    0%{
        width: 0;
    }100%{
        width: 60%;
    }
}
.skill-bar .bar .bootstrap{
    width: 50%;
    animation: bootstrap 3s;
}
@keyframes bootstrap{
    0%{
        width: 0;
    }100%{
        width: 50%;
    }
}
.portofolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    
}
.main-text p{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 200px;
}
.main-text h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: inherit;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.medsos{
    width: 100%;
    padding: 100px 0px;
    text-align: center;
}
.medsos h2{
    color: black;
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 100px;
}   

.medsos a{
    color: blue;
    transition: color  0.2s;
    text-decoration: none;
    margin: 0 10px;
    font-size: 100px;
   
}

.medsos a:hover{
    color: grey;
}
.container h2{
    text-align: center;
    font-size: 60px;
    margin-top: 90px;
}
.container h5{
    text-align: center;
    font-size: 40px;
}
.container p{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.container li{
    text-align: center;
    font-size: 20px;
}
.container form{
    text-align: left;
    font-size: 30px;
}
.container form input{
    text-align: left;
    font-size: 20px;
    width: 400px;
    height: 60px;
    display: block;
}
.blog-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.main-text h4{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 150px;
}
.container .button{
    font-size: 25px;
}
.container textarea{
    rows:4px;
    width: 600px;
    height: 200px;
    margin-top: 20px;
}